.smallposts {
    margin-top: 0.3em;
    font-size: 1em;
}

.smallposts p {
    margin-top: .5em;
    text-indent: 1em;
    clear: both;
}

.smallposts h2 {
    margin: 0;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

.smallposts h3 {
    margin: 0;
    font-size: 0.8em;
    color: #585858;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

div .blog {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-content: center;
    -webkit-align-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.blogposts div {
    width: 40em;
}

.post {
    width: 50em;
}

.post pre {
    margin: auto;
    background-color: white;
    width: 40em;
    border-style: outset;
    border-color: #8080ff;
    border-width: 5px;
    padding: 2em;
}

a.postlink:hover {
    color: #8080ff;
}

a.postlink {
    text-decoration: none;
    color: black;
}

.post h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    float: left;
    font-size: 1.5em;
}

.post h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.6em;
    display: inline;
    float: right;
    font-size: 1em;
    color: #585858;
    font-style: italic;
    font-weight: lighter;
}

.post hr {
    clear: both;
}
