.projects {
    min-width: 30em;
}

.projects td {
    padding: 1em;
}

.source {
    text-align: center;
}

.name {
    width: 10em;
    text-align: center;
    padding-right: 0 !important;
}

.description {
    text-align: left;
}

ul.warning {
    padding: 0 3em 1em;
    text-align: justify;
    font: .7em Verdana, Arial, Helvetica, sans-serif;
    color: #888;
    list-style: none;
}
