.slide {
    width: 100%;
}

.slides img {
    width: 100%;
}

.slides img:not(:first-child) {
    display: none;
}

.slideshow {
    width: 40em;
    text-align: center;
    padding: 0.5em;
    align-self: center;
}
