%post {
  @extend %codebox;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    h1 {
      flex: 0 1 auto;
    }

    time {
      flex: 0 1 auto;
      font-style: italic;
    }

    a {
      color: $bodycolor;

      &:hover {
        color: $primarycolor;
      }
    }
  }

  pre {
    margin: 1em;
  }

  footer {
    align-items: flex-start;
    border-top: 1px solid $white;
    color: $bodycolor;
    display: flex;
    flex-direction: row;
    font: 1em $altfontfamily;
    justify-content: space-between;
    margin: 1em 0 0;
    padding-top: 1em;
  }
}

.post-summaries {
  @extend %post;

  list-style-type: none;
  margin: 0;
  padding: 0;

  blockquote {
    clear: both;
    display: inline-block;
    line-height: 1.5em;
    margin: 0;
  }
}

.blog-post {
  @extend %content;
  @extend %post;
  max-width: 50em;
  padding: 1em;
}
