%post {
  @extend %codebox;

  header {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      flex: 0 1 auto;
    }

    time {
      flex: 0 1 auto;
      font-family: $altfontfamily;
    }

    .authorship {
      text-align: right;
    }
  }

  pre {
    margin: 1em;
  }

  footer {
    border-top: 1px solid $white;
    color: $bodycolor;
    font: 1em $altfontfamily;
    margin: 1em 0 0;

    nav {
      @extend %navigation;

      ul {
        justify-content: space-between;
        margin-bottom: 0;
      }

      li {
        flex: 1 1;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.post-summaries {
  @extend %post;

  list-style-type: none;
  margin: 0;
  padding: 0;

  blockquote {
    clear: both;
    display: inline-block;
    line-height: 1.5em;
    margin: 0;
  }
}

.blog-post {
  @extend %content;
  @extend %post;

  max-width: 50em;
  padding: 1em 1.5em;
  text-align: justify;

  h1 {
    font-size: 2em;
  }
}
