.decorative-code {
  @extend %codebox;

  border-width: 5px;

  pre {
    margin: 0 initial;
    min-height: 15em;
  }

  small {
    color: $warningcolor;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    text-align: center;
  }
}
