.projects {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-flow: column;
  width: 30em;

  h3 {
    border-bottom: 1px solid;
  }

  p {
    height: 100%;
    margin-top: .5em;
    text-align: justify;
  }

  nav {
    align-self: flex-end;
    line-height: initial;
  }
}
