.main {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
}

%column {
  display: flex;
  flex-direction: column;

  @include respond-to(small-screens) { max-width: 100%; }
}

.column {
  @extend %column;
  @extend %readable;
}

.wide-column {
  @extend %column;
  max-width: 50em;

  @include respond-to(medium-screens) { min-width: 40em; }
  @include respond-to(wide-screens) { min-width: 40em; }
}
