.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-bottom: 1em;
  text-align: center;

  .logo {
    color: $white;
    cursor: default;
    font-family: $logofontfamily;
    font-size: 128px;
    text-shadow: 0 0 20px $linkcolorhover;

    @include respond-to(medium-screens) { font-size: 15vw; }
    @include respond-to(small-screens) { font-size: 15vw; }
  }

  nav {
    @extend %content;
    @extend %navigation;

    ul {
      margin: .5em;
    }

    li {
      margin: 0;
      padding: .5em;

      &:not(:first-child) {
        margin-left: 1em;
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
