%content {
  background-color: $secondarycolor;
  box-shadow: .1em .1em .2em $shadow;
  margin: 0 8px 16px;
}

.text {
  @extend %content;
  padding: .5em 1em 1em;
}

.wide-text {
  @extend %content;
  max-width: 40em;
  min-width: 30em;
  padding: 1em;
}

.images {
  @extend %content;
  max-width: 40em;
  padding: .7em;
}

.tabular {
  @extend %content;
  max-width: 55em;
  padding: 1em;

  td {
    padding: 1em;
  }
}

.pdf-viewer {
  @extend %content;
  height: 70em;
  padding: 1em;
  width: 70em;
}
