<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>acrussell.com | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    {% block styles %}
      {% assets "css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
      {% endassets %}
    {% endblock %}
    <script src="//use.edgefonts.net/vt323;inconsolata.js"></script>
  </head>
  <body>
  {% block header %}
    {% include "layout/header.html" %}
  {% endblock %}
    <div class="main">
    {% block layout %}
    {% endblock %}
    </div>
  {% block footer %}
    {% include "layout/footer.html" %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
  </body>
</html>
