<div class="header">
  <span id="logo">acrussell.com</span>
  <nav>
    <ul>
      {%- for endpoint, title in [
        ('index', 'Home'),
        ('about_me', 'About Me'),
        ('render_blog', 'Blog'),
        ('render_projects', 'Projects'),
        ('resume', 'Resume'),
      ] %}
      <li {% if endpoint == request.endpoint %}class="currentLink"{% endif %}>
        <a href="{{ url_for(endpoint) }}">{{ title }}</a>
      </li>
      {%- endfor %}
      {%- for external_link, title in [
        ('http://www.github.com/euclio', 'Github'),
      ] %}
      <li class="external"><a href="{{ external_link }}">{{ title }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
</div>
