<div class="header">
  <span class="logo">acrussell.com</span>
  <nav>
    <ul>
      {%- for endpoint, title in [
        ('index', 'Home'),
        ('about_me', 'About Me'),
        ('render_blog', 'Blog'),
        ('render_projects', 'Projects'),
        ('resume', 'Resume'),
      ] %}
      <li>
        <a {% if endpoint == request.endpoint %}class="current-link"{% endif %} href="{{ url_for(endpoint) }}">{{ title }}</a>
      </li>
      {%- endfor %}
      {%- for external_link, title in [
        ('http://www.github.com/euclio', 'Github'),
      ] %}
      <li><a class="external" href="{{ external_link }}">{{ title }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
</div>
