<div class="header">
  <img src="{{ url_for('static', filename='images/photos/header.png') }}" alt="acrussell.com" />
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('about_me')}}">About Me</a></li>
      <li><a href="{{ url_for('render_blog') }}">Blog</a></li>
      <li><a href="{{ url_for('projects') }}">Projects</a></li>
      <li><a href="{{ url_for('resume') }}">Resume</a></li>
      <li class="external"><a href="http://www.github.com/euclio">Github</a></li>
    </ul>
  </nav>
</div>
