$bodycolor: #ddd;

// Slightly off-white
$white: #eee;

$basefontfamily: Georgia, serif;
$baseheadingfont: Arial, Helvetica, sans-serif;
$altfontfamily: Verdana, Arial, Helvetica, sans-serif;
$navfontfamily: Avant-garde, Verdana, sans-serif;

// Color palette
$primarycolor: #ff0;
$secondarycolor: #444;
$tertiarycolor: #222;

$linkcolor: $primarycolor;
$linkcolorhover: #ff8040;

$warningcolor: darken($bodycolor, 10);
