// Content that is meant to be kept at an easily-readable width.
%readable {
  max-width: 33em;
  min-width: 25em;
}

%codebox {
  pre {
    background-color: lighten($secondarycolor, 50);
    border: 5px outset $tertiarycolor;
    color: $tertiarycolor;
    margin: auto;
    margin-bottom: 1em;
    overflow-x: hidden;
    padding: 1em;
  }

  code {
    font-family: inconsolata, monospace;
    font-size: 12px;
  }
}
