// Content that is meant to be kept at an easily-readable width.
%readable {
  max-width: 33em;
  min-width: 25em;
}

%codebox {
  pre {
    background-color: lighten($secondarycolor, 50);
    border: 5px outset $tertiarycolor;
    color: $tertiarycolor;
    margin: auto;
    margin-bottom: 1em;
    overflow-x: hidden;
    padding: 1em;
  }

  code {
    font-family: inconsolata, monospace;
    font-size: 100%;
    line-height: normal;
  }
}

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  } @else {
    @error 'Invalid media type specified.'
  }
}
