body {
  background-color: $tertiarycolor;
  color: $bodycolor;
  font-family: $basefontfamily;
  font-size: 16px;
  line-height: 1.6875;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $baseheadingfont;
  margin: 0;

  a {
    text-decoration: none;
  }
}
