h1 {
  display: inline-block;
  padding-bottom: .1em;
}

a {
  color: $primarycolor;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover {
    color: $linkcolorhover;
  }

  &:not(.no_external)[href^="//"]::after,
  &:not(.no_external)[href^="http://"]::after,
  &:not(.no_external)[href^="https://"]::after {
    content: ' \f08e';
    font-family: 'FontAwesome';
  }

  &.current-link {
    color: $white;
    cursor: default;
    text-decoration: none;
  }
}

.warning {
  color: $warningcolor;
  font: .8em $altfontfamily;
  list-style: none;
}

p {
  margin-bottom: 0;
}
