{{#> base}}

{{#*inline "title"}}About Me{{/inline}}

{{#*inline "layout"}}
<div class="column">
  <div class="text">
    <header>
      <h1>About Me</h1>
    </header>
    <p>I'm Andy Russell, a software developer from Boston. I work on the Inpatient Clinicals team at <a href="https://athenahealth.com">athenahealth</a>, developing an electronic health record for hospitals.</p>
    <p>I enjoy programming at work and at home. I have <a href="/resume">work experience</a> developing and testing full-stack web applications, and I dabble in both low-level and <a href="https://github.com/gamefolk">game programming</a> on my own time. The code powering this website is written by me. I am interested in programming language theory and implementation: I've written a compiler for a <a href="https://github.com/euclio/chip-lang">music programming language</a>.</p>
    <p>I'm proficient in Java, Python, Rust, Perl, C++, and C. I can code comfortably in HTML, CSS, and JavaScript as well. I dabble in Scala and Objective-C. I have open-sourced most of my <a href="/projects">personal projects</a>, and I've contributed to large open-source projects, including <a href="https://www.vim.org">vim</a> and <a href="https://rust-lang.org">Rust</a>.</p>
    <p>I graduated from Pomona College, majoring in Computer Science and minoring in Classics. I can translate Latin at a high level.</p>
    <p>Diversity and inclusiveness are extremely important to me, especially in tech. In college I led Hack, an organization dedicated to hosting hackathons emphasizing learning over competition.</p>
    <p>I love both learning and teaching: I've held nightly sessions teaching web development to both new and experienced programmers.</p>
  </div>
</div>
<div class="column">
  <div class="images">
    <div class="slides">
      {{#each image_urls}}
      <img src="{{ this }}" />
      {{/each}}
    </div>
  </div>
  <div class="text">
    <header>
      <h2>My Interests</h2>
    </header>
    <p>I grew up just outside of St. Louis, Missouri. I've lived in Claremont, San Jose, and Mountain View as well. I love the outdoors, telling stories, and playing video games. My favorite games include Wario Land III, Super Mario World, and Earthbound. I keep an up-to-date <a href="https://backloggery.com/euclio">backlog</a> of the games I'm playing.</p>
    <p>I enjoy listening to various forms of music, mostly electronic. <a href="http://freezepop.net">Freezepop</a> is my favorite band. I also am a huge chiptune fan, including both retro video game tracks and original works.</p>
    <p>I'm a Linux enthusiast, and have used <a href="https://archlinux.org">Arch Linux</a> as my daily driver for years. Vim is my editor of choice.</p>
  </div>
</div>
{{/inline}}

{{/base}}
