{{#partial title}}About Me{{/partial}}

{{#partial layout}}
<div class="column">
  <div class="images">
    <div class="slides">
      {{#each image_urls}}
      <img src="{{ this }}" />
      {{/each}}
    </div>
  </div>
</div>
<div class="column">
  <div class="text">
    <header>
      <h1>About Me</h1>
    </header>
    <p>My name is Andy Russell. I recently graduated from Pomona College.</p>
    <p>I'm a programmer at heart. Full-stack development is my bread-and-butter, and this site allows me to do both. I've also enjoyed working on and learning about more esoteric aspects of coding, such as domain-specific languages and programming language design.</p>
    <p>After dabbling in the craft as a child (whether through LOGO or later LEGO Mindstorms), I really devoted myself to programming about 6 years ago. I'm proficient with Java, Python, Rust, Perl, C++, and C. I can code comfortably in HTML, CSS, and JavaScript as well. I dabble in Scala and Objective-C.</p>
    <p>I'm a skilled UNIX user, at home in the command line as much as I am in a GUI. Vim is my editor of choice. When I look at a problem, I try to survey it from every angle: I want to ensure that it is solved the right way the first time. I'm always striving to learn new skills and improve my current techniques. I also enjoy teaching as much as I do learning.</p>
    <p>Since the Claremont Colleges' 5C Hackathon started my freshman year, I was involved each year I spent at Pomona. I attended the event every semester, both as a participant and an organizer. The event is very important to me because it allows students to learn new technologies that aren't often taught in the classroom. From the beginning, a focus of the event was to include everyone who is interested in the event. This goal remains important to the event today.</p>
    <p>I grew up just outside of St. Louis, Missouri. I love the outdoors, meeting people and playing video games. If you're curious, my favorite games are Wario Land III, Super Mario World, and Earthbound.</p>
    <p>I'd like to give a shoutout to my wonderful family, all my friends in Claremont, Boston, and St. Louis, and of course, my dog Sadie!</p>
    <p>Thanks for visiting my site! It's been a blast making it, from both a programming and design perspective.</p>
  </div>
</div>
{{/partial}}

{{> base}}
