<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>acrussell.com | {{# block title }}{{/block}}</title>
    <link href="//fonts.googleapis.com/css?family=Lora|PT+Serif|Roboto|Source+Sans+Pro|VT323" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/styles.css" rel="stylesheet">
    {{#block styles}}
    {{/block}}
  </head>
  <body>
    {{# block header }}
    {{> header }}
    {{/block}}
    <div class="main">
      {{# block layout }}
      {{/block}}
    </div>
    {{# block footer }}
    {{> footer }}
    {{/block}}
    {{#block scripts}}
    {{/block}}
  </body>
</html>
