<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>acrussell.com | {{# block title }}{{/block}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    {{#block styles}}
    {{/block}}
    <script src="//use.edgefonts.net/vt323;inconsolata.js"></script>
  </head>
  <body>
    {{# block header }}
    {{> header }}
    {{/block}}
    <div class="main">
      {{# block layout }}
      {{/block}}
    </div>
    {{# block footer }}
    {{> footer }}
    {{/block}}
    {{#block scripts}}
    {{/block}}
  </body>
</html>
