{{#> base}}

{{#*inline "title"}}Blog{{/inline}}

{{#*inline "styles"}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/atelier-plateau.dark.min.css">
{{/inline}}

{{#*inline "scripts"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<!-- Languages to highlight that are not included in the default highlight.js package.
     TODO: Add fish when supported -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/scala.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/vim.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{/inline}}

{{#*inline "layout"}}
{{#> content}}
<div class="column">
  <div class="text">
    <header>
      <h1>Blog</h1>
    </header>
    <p itemprop="description">Welcome to my blog.</p>
    <form action="/blog" method="GET">
      <input type="search" name="q" value="{{ query }}">
      <input type="submit" value="Search">
    </form>
  </div>
</div>
<div class="wide-column">
  {{> summaries}}
</div>
{{/content}}
{{/inline}}

{{/base}}
