{{#partial content}}
<article itemscope="blogPost" class="blog-post">
  <header>
    <h1 itemprop="headline">{{ title }}</h1>
    <time itemprop="datePublished">{{ date }}</time>
  </header>
  <div class="post" itemprop="text">{{{ html }}}</div>
  <footer>
    <nav><a href="/blog">&larr;Back to blog</a></nav>
    <address>
      by <span itemprop="author">Andy Russell</span>
    </address>
  </footer>
</div>
{{/partial}}

{{> blog}}
