<footer>
  <ul class="social">
    <li><a class="no_external" href="mailto:andy AT acrussell DOT com" alt="Email"><span class="fa fa-envelope-square fa-4x"></span></a></li>
    <li><a class="no_external" href="https://www.linkedin.com/in/arussell123/" alt="LinkedIn"><span class="fa fa-linkedin-square fa-4x"></span></a></li>
  </ul>
  <small>2012-present. Coded and designed in full by Andy Russell.</small>
  <small>I am grateful for the open source software that this site is built with: <a href="https://rust-lang.org">Rust</a>, <a href="http://fontawesome.io">Font Awesome</a>, and others.</small>
</footer>
