<footer>
  <ul class="social">
    <li><a href="http://facebook.com/arussell123" alt="Facebook"><span class="fa fa-facebook-square fa-4x"></span></a></li>
    <li><a href="http://twitter.com/arussell300" alt="Twitter"><span class="fa fa-twitter-square fa-4x"></span></a></li>
    <li><a href="http://coderaugustus.tumblr.com" alt="Tumblr"><span class="fa fa-tumblr-square fa-4x"></span></a></li>
    <li><a href="mailto:andy AT acrussell DOT com" alt="Email"><span class="fa fa-envelope-square fa-4x"></span></a></li>
    <li><a href="http://plus.google.com/112963504692519305934?rel=author" alt="Google Plus"><span class="fa fa-google-plus-square fa-4x"></span></a></li>
    <li><a href="http://www.linkedin.com/pub/andy-russell/42/604/56b" alt="LinkedIn"><span class="fa fa-linkedin-square fa-4x"></span></a></li>
  </ul>
  <small>2012-present. Coded and designed in full by Andy Russell.</small>
  <small>Thank you to the makers of all the technologies that went into this site: including <a href="https://rust-lang.org">Rust</a>, <a href="https://ironframework.io">Iron</a>, and <a href="http://fontawesome.io">Font Awesome</a>.</small>
</footer>
