<div class="header">
  <nav>
    <ul>
      {{#each pages}}
      <li><a href="{{ path }}">{{ name }}</a></li>
      {{/each}}
      <li><a href="https://www.github.com/euclio">GitHub</a></li>
    </ul>
  </nav>
  <span class="logo">acrussell.com</span>
</div>
