<div class="header">
  <span class="logo">acrussell.com</span>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="https://www.github.com/euclio" class="external">GitHub</a></li>
    </ul>
  </nav>
</div>
