{{#> base}}

{{#*inline "title"}}Home{{/inline}}

{{#*inline "scripts"}}
<script src="/github_snippets.js"></script>
{{/inline}}

{{#*inline "layout"}}
<div class="column">
  <div class="text">
    <header>
      <h1><a href="/about">Andy Russell</a></h1>
    </header>
    <p>Software developer at <a href="http://www.athenahealth.com/">athenahealth</a>. I'm helping build the first electronic health record for hospitals in the cloud. Majored in Computer Science, minored in Classics at Pomona College. Programming is my passion.</p>
    <p>View my blog, resume, or GitHub with the links above. Feel free to contact me using any of the social links at the bottom of the page.</p>
  </div>
</div>

<div class="column">
  <div class="images">
    <div class="decorative-code">
      <pre id="code"><code></code></pre>
    </div>
  </div>
</div>
{{/inline}}

{{/base}}
