{{#partial title}}Home{{/partial}}

{{#partial scripts}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js"></script>
<script src="/static/js/github_snippets.js"></script>
{{/partial}}

{{#partial layout}}
<div class="column">
  <div class="text">
    <header>
      <h1><a href="/about">Andy Russell</a></h1>
    </header>
    <p>Software developer at <a href="http://www.athenahealth.com/">athenahealth</a>. I'm helping build the first electronic health record for hospitals in the cloud. Majored in Computer Science, minored in Classics at Pomona College. Programming is my passion.</p>
    <p>View my blog, resume, or GitHub with the links above. Feel free to contact me using any of the social links at the bottom of the page.</p>
  </div>
  <div class="images">
    <div class="decorative-code">
      <pre id="code"><code></code></pre>
    </div>
  </div>
</div>

<div class="column">
  <div class="text">
    <header>
      <h1><a href="/blog">Recent Blog Posts</a></h1>
    </header>
  </div>
  {{> summaries}}
</div>
{{/partial}}

{{> base}}
