{{#partial title}}Resume{{/partial}}

{{#partial layout}}
<div class="pdf-viewer">
  <iframe class="resume" src="https://docs.google.com/gview?url={{ resume_link }}&embedded=true" frameborder="0"></iframe>
  <small class="warning">Document viewer not showing? Try the direct link <a href="{{ resume_link }}">here</a>.</small>
</div>
{{/partial}}

{{> base}}
