{% extends "layout/base.html" %}
{% block layout %}
<div class="readable content column textpadder">
  <h2>Uh oh!</h2>
  <p>You seem to have found a page that doesn't exist. Please check the address or let me know how you reached this page by using the contact links below.</p>
  <p><a href="{{ url_for('index') }}">Click here</a> to return to the home page.</p>
</div>
<div class="pictures column imgpadder">
  <img width="200px" src="{{ url_for('static', filename='images/photos/notfound.png') }}">
</div>
{% endblock %}
