{% extends "layout/base.html" %}

{% block title %}About Me{% endblock %}

{% block layout %}
<div class="pictures slideshow">
  <div class="slides">
    <img class="placeholder" src="http://placehold.it/2048x1365">
  </div>
</div>
<div class="readable content textpadder">
  <h1>About Me</h1>
  <hr />
  <p>My name is Andy Russell. I am a junior Computer Science Major and Classics Minor at Pomona College in beautiful Claremont, California.</p>
  <p>I'm a programmer at heart. I thoroughly enjoy working on both the frontend and backend of web applications, and this site allows me to do both.</p>
  <p>After dabbling in the craft (whether through LOGO or later LEGO Mindstorms), I really devoted myself to programming about 6 years ago. I'm comfortable with Java, Python, C++ and C. I can code HTML, CSS, and Javascript as well.</p>
  <p>I've used UNIX plenty, and vim is my editor of choice. When I look at a problem, I try to survey it from every angle: I want to ensure that it is solved the right way the first time. I'm always striving to learn new skills and improve my current techniques. I also enjoy teaching others how to program.</p>
  <p>Since the Claremont Colleges' 5C Hackathon started my freshman year, I've been very involved: both as a participant and an organizer. The event is very important to me because it allows students to learn new technologies that aren't often taught in the classroom. We are devoted to including everyone who is interested in the event.</p>
  <p>I grew up just outside of St. Louis, Missouri. I love the outdoors, meeting people and playing video games.</p>
  <p>I'd like to give a shoutout to my wonderful family, the spibs of H2E, and my dog Sadie!</p>
  <p>Thanks for visiting my site! It's been a blast making it, both from a programming and design perspective.</p>
</div>
{% endblock %}
