{% extends "blog.html" %}

{% block title %}{{ super() }} | {{ post.title }} {% endblock %}

{% block content %}
<article itemscope="blogPost" class="blog-post">
  <header>
    <h1 itemprop="headline">{{ post.title}}</h1>
    <time itemprop="datePublished">{{ post.pretty_date }}</time>
  </header>
  <div class="post" itemprop="text">{{ post.content }}</div>
  <nav><a href="{{ url_for('render_blog') }}">&larr;Back to blog</a></nav>
  <footer>
    <address>
      by <span itemprop="author">Andy Russell</span>
    </address>
  </footer>
</div>
{% endblock %}
