{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/blog.css') }}" />
{% endblock %}

{% block layout %}
<div class="readable column">
  <div class="content textpadder">
    <h1>Andy Russell</h1>
    <hr />
    <p>Computer Science Major and Classics Minor at Pomona College. Programming is my passion. View my blog, resume, or Github with the links above, and feel free to contact me using any of the social links at the bottom of the page.</p>
  </div>
  <div class="content textpadder">
    <div id="decorative_code">
      <pre>
        <code>
// Execute with Java
processParams.add("java");

// Add directory of main file to classpath
processParams.add("-cp");
processParams.add(mainClass.getParent());

// Extract the name of the class from the file
String mainClassName = mainClass.getName().split("\\.")[0];
processParams.add(mainClassName);

// Add the program's runtime parameters
processParams.addAll(parameters);

ProcessBuilder pb = new ProcessBuilder(processParams);
status.appendLine(String.format("Running %s.java...", mainClassName));
        </code>
      </pre>
    </div>
  </div>
</div>

<div class="readable column content posts textpadder">
  <h1>Recent Blog Posts</h1>
  <hr />
  <div class="smallposts">
  {% for post in recent_posts %}
    <h2><a class="postlink" href="{{ post.url }}">{{ post.title }}</a></h2>
    <h3>{{ post.pretty_date }}</h3>
    <p>{{ post.preview }}</p>
  {% endfor %}
  </div>
</div>
{% endblock %}
