{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}

{% block layout %}
<div class="column">
  <div class="text">
    <h1>Andy Russell</h1>
    <p>Computer Science Major and Classics Minor at Pomona College. Programming is my passion. View my blog, resume, or Github with the links above, and feel free to contact me using any of the social links at the bottom of the page.</p>
  </div>
  <div class="text">
    <div class="decorative-code">
      <pre>
        <code>
// Execute with Java
processParams.add("java");

// Add directory of main file to classpath
processParams.add("-cp");
processParams.add(mainClass.getParent());

// Extract the name of the class from the file
String mainClassName = mainClass.getName().split("\\.")[0];
processParams.add(mainClassName);

// Add the program's runtime parameters
processParams.addAll(parameters);

ProcessBuilder pb = new ProcessBuilder(processParams);
status.appendLine(String.format("Running %s.java...", mainClassName));
        </code>
      </pre>
    </div>
  </div>
</div>

<div class="column">
  <div class="text">
    <h1>Recent Blog Posts</h1>
  </div>
  {% include "post_summaries.html" %}
</div>
{% endblock %}
