{% extends "layout/base.html" %}

{% block title %}Projects{% endblock %}

{% block layout %}
<div class="tabular">
  <h1>Projects</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Source</th>
    </tr>
  {% for project in projects %}
    <tr>
      <td class="name">{{ project.name }}</td>
      <td class="description readable">{{ project.description|safe }}</td>
      <td class="source">
        <a class="external" href="{{ project.url }}">
          ({{ project.languages|reject('equalto', 'CMake')|join(', ') }})
        </a>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
