{% extends "layout/base.html" %}

{% block title %}Projects{% endblock %}

{% block layout %}
<div class="content projects textpadder">
  <h1>Projects</h1>
  <hr />
  <table class="center">
  {% for project in projects %}
    <tr>
      <td class="name">
        {% if project.available %}<a href="{{ project.location }}">{{ project.name }}</a>{% if project.needs_fs %}*{% endif %}
        {% else %}{{ project.name }}&dagger;{% endif %}</td>
      <td class="description readable">{{ project.description|safe }}</td>
      <td class="source"><a href="http://github.com/{{ project.repo }}">Source ({{ project.language }})</a></td>
    </tr>
  {% endfor %}
  </table>
  <ul class="warning">
    <li>* This application will request permission to access your computer's filesystem.</li>
    <li>&dagger; This project is not quite ready for testing, but I have made the source available.</li>
  </ul>
</div>
{% endblock %}
