%post {
  @extend %codebox;

  header {
    position: relative;

    h1 {
      float: left;
    }

    a {
      color: $bodycolor;

      &:hover {
        color: $primarycolor;
      }
    }

    time {
      font-style: italic;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  footer {
    align-items: flex-start;
    color: $bodycolor;
    font: 1em $altfontfamily;
    margin: initial;
  }
}

.post-summaries {
  @extend %post;

  list-style-type: none;
  margin: 0;
  padding: 0;

  blockquote {
    clear: both;
    display: inline-block;
    line-height: 1.5em;
    margin: .3em 0 0;
  }
}

.blog-post {
  @extend %content;
  @extend %post;
  max-width: 50em;
  padding: 1em;

  .post {
    margin-top: 3em;
  }
}
