// CSS Breakpoints
$break-small: 640px;
$break-medium: 1000px;

$bodycolor: #ddd;

// Slightly off-white
$white: #eee;

$basefontfamily: PT Sans, serif;
$baseheadingfont: Roboto, sans-serif;
$altfontfamily: Roboto, serif;
$navfontfamily: Roboto, sans-serif;
$codefontfamily: Inconsolata, monospace;
$logofontfamily: vt323, monospace;

// Color palette
$primarycolor: #ff0;
$secondarycolor: #444;
$tertiarycolor: #222;
$shadow: #0c0c0c;

$linkcolor: $primarycolor;
$linkcolorhover: #ffa500;

$warningcolor: darken($bodycolor, 10);
