@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  } @else {
    @error 'Invalid media type specified.'
  }
}

// Content that is meant to be kept at an easily-readable width.
%readable {
  max-width: 33em;

  @include respond-to(small-screens) { min-width: 25em; }
  @include respond-to(medium-screens) { min-width: 25em; }
}

%codebox {
  pre {
    background-color: lighten($secondarycolor, 50);
    border: 5px outset $tertiarycolor;
    color: $tertiarycolor;
    margin: auto;
    overflow-x: hidden;

    code {
      display: block;
      padding: 1em;
    }
  }

  code {
    font-family: $codefontfamily;
    font-size: .9em;
    line-height: normal;
  }

  p {
    code {
      background-color: lighten($secondarycolor, 50);
      box-shadow: .1em .1em .2em $shadow;
      color: $tertiarycolor;
      margin: auto .1em;
      padding: .2em;
    }
  }
}
